<p>pet-posts works!</p>
<!--pet id profile posts-->
<div class="pet-details-container card">
  <img class="card-img-top pet-image" [src]="pet.avatar_image_url || ''" alt="pet-picture">
  <div class="card-body">
    <h2 class="pet-name">{{pet.name}}</h2>
    <span class="pet-birthday">
      @if (pet.sex == 'female') {
        {{pet.birthday | date: "longDate"}}
        <img src="../assets/icons/cake-candles-female-xl.svg" alt="cake">
      } @else {
        {{pet.birthday | date: "longDate"}}
        <img src="../assets/icons/cake-candles-male-xl.svg" alt="cake">
      }
    </span>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item pet-species">Species: {{pet.species}}</li>
    <li class="list-group-item pet-breed">Breed: {{pet.breed}}</li>
    <li class="list-group-item pet-owner">
      <strong>
        Their Bestfriend is:
        <a routerLink="/profile">{{pet.user?.username}}</a>
      </strong></li>
  </ul>
  <div class="card-body button-edits">
    <button class="button" routerLinkActive="active" [routerLink]="['/update-pet', pet.id]"
    (click)="onUpdatePet(pet.id)">Edit Pet</button>
    <button class="button" (click)="onDeletePet(pet.id)">Delete Pet</button>
  </div>
</div>

