<div class="button-options">
  <button class="button" routerLink="/create-playdate">Create Playdate</button>
  <button class="button dashboard" routerLink="/">Dashboard</button>
</div>
<div class="playdate-list-container">
  @for (playdate of playdates; track playdate.id) {
    <app-playdate [playdate]="playdate"/>
  }
</div>

<div class="page-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages || totalPages === 0">Next</button>
</div>
