.playdate-details-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playdate-title {
  color: #333;
  background-color: #AFD8E6;
  padding: 10px;
  border-radius: 4px;
}

.playdate-content {
  margin: 20px 0;
  line-height: 1.6;
}

.playdate-info {
  display: flex;
  justify-content: space-between;
  background-color: #954b4b;
}

.playdate-info {
  display: flex;
  justify-content: space-between;
  background-color: #ffc6f5;
}

.playdate-info .playdate-dates,
.playdate-info, .playdate-creator {
  margin: 0px;
}

.playdate-timestamps {
  font-size: 0.86rem;
  color: #666;
  margin-top: 10px;
}

.playdate-timestamps span {
  display: block;
  margin: 5px 0;
}

.playdate-image img{
  width: 100%;
}

.participants-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.participant-item {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}
