<div class="playdate-details-container">
  <div class="playdate-image">
    <img [src]="playdate.cover_image_url || '../../../assets/img/meadow.jpg'" alt="">
  </div>
  <h2 class="playdate-title">{{playdate.title}}</h2>
  <p class="playdate-content">{{playdate.content}}</p>
  <div class="playdate-info">
    <span class="playdate-dates">
      {{playdate.start_date_time | date: "medium"}} - {{playdate.end_date_time | date: "medium"}}
    </span>
    <div class="playdate-creator">
      created by: <strong>{{playdate.creator.username}}</strong>
    </div>
  </div>

  <!-- checks if curr. user is not the creator -->
  @if (playdate.creator.id !== currentUser?.id) {
    <button class="join-button" (click)="toggleJoinPlaydate()">{{hasJoined ? 'Leave Playdate' : 'Join Playdate'}}</button>
  }
</div>


<div class="participants-container">
  @for(participant of participants; track trackById) {
    <div class="participants-item">
      @if(participant.empty) {
        <div>Open Spot</div>
      } @else {
        <div class="spot-filled">{{participant.name}}</div>
      }
    </div>
  }
</div>
