<p>profile works!</p>
<!-- TODO: after loggin in, have route available for this profile comp that will display owner and its pets list, if no owner profile has been made, conditional statement to route to owner profile comp-->
<button class="button" routerLink="/create-pet">Create Pet Profile</button>
<button class="button" routerLink="/pets">Pet list</button>
<button class="button" routerLink="/pet-profile/:id">Specific Pet Profile</button>
<div class="container">
  <div class="left-sidebar"></div>
</div>
